.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all 0.8s ease;
    &--front {
      background-color: $color-white;
    }
    &--back {
      background-color: cornflowerblue;
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-new-light,
          $color-primary-new-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
