.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.2rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 0;
    transition: all 0.2s ease-out;
    outline-offset: 2rem;

    &--p1 {
      right: 0;
      top: 2rem;
    }
    &--p2 {
      left: 0;
      top: 4rem;
    }
    &--p3 {
      width: 60%;
      left: 20%;
      top: 10rem;
    }
    &--p4 {
      right: 2rem;
      top: 18rem;
    }
    &--p5 {
      left: -2rem;
      top: 20rem;
    }

    &:hover {
      @include photo-composition;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
  }
}
