body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
    /* animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out;
  }
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-new-light,
    $color-primary-new-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-teritiary {
  font-size: $defult-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.list-teritiary {
  display: inline-block;
  list-style-type: none;
}

.paragraph {
  font-size: $defult-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
